* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: #f8fafc;
  color: #1e293b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 100px 0;
}