.projects-grid {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,minmax(350px,1fr));
  gap: 30px;
}

.project-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.project-card img {
  height: 220px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.tech-stack span {
  background: #dbeafe;
  padding: 6px 12px;
  border-radius: 50px;
}

.project-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.github-btn {
  background: #0f172a;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
}

.demo-btn {
  background: #2563eb;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
}